<div class="categories">
    <div class="categories-align">
        <div class="categories-title-align">
            <p class="categories-title">
                CATEGORIES
            </p>
        </div>
        <div class="categories">
            <div class="categories-buttons-scroll">
                <button class="categories-button"><img src="assets/icons/politics.svg" alt=""> Politics</button>
                <button class="categories-button"><img src="assets/icons/sports.svg" alt=""> Sports</button>
                <button class="categories-button"><img src="assets/icons/art.svg" alt=""> Art</button>
                <button class="categories-button"><img src="assets/icons/technologies.svg" alt=""> Technologies</button>
                <button class="categories-button"><img src="assets/icons/science.svg" alt=""> Science</button>
                <button class="categories-button"><img src="assets/icons/education.svg" alt=""> Education</button>
            </div>
        </div>
    </div>
</div>