<div class="center-profile">
    <div class="align-container">
        <section class="profile-section">
            <div class="cover-container">
                <img class="cover" src="https://tse1.mm.bing.net/th?id=OIP.0BTPrE-LEDnbs3aIUlqG5wHaE8&pid=Api&P=0&h=220" alt="">
                <div class="profile">
                    <div class="profile-photo-container">
                        <img class="cover" src= "https://tse1.mm.bing.net/th?id=OIP.0BTPrE-LEDnbs3aIUlqG5wHaE8&pid=Api&P=0&h=220" alt="">
                    </div>
                    <div class="profile-info-section">
                        <p class="username">Navigator</p> 
                        <p class="email">navigator&Gmail.com</p> 
                    </div>
                    <button class="edit-profile"><img src="assets/icons/pencil.svg" alt=""> Edit Profile</button>
                </div>
            </div>

        </section>


        <section class="your-posts">
            <button class="your-posts-button"> Your Posts</button>

            <div class="my-articles">
                <app-article-section [articles] = "articles"></app-article-section>
                <app-article-section [articles] = "articles"></app-article-section>
                <app-article-section [articles] = "articles"></app-article-section>
            </div>
        </section>


    </div>
</div>